html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-top: 23%;
    color: #333;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #a1c7e5;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

@-webkit-keyframes success {
    0% { transform: scale(1); }
    25% { transform: scale(1.22); }
    50% { transform: scale(1); }
    75% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

@-moz-keyframes success {
    0% { transform: scale(1); }
    25% { transform: scale(1.22); }
    50% { transform: scale(1); }
    75% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

@keyframes success {
    0% { transform: scale(1); }
    25% { transform: scale(1.22); }
    50% { transform: scale(1); }
    75% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

@-webkit-keyframes fail {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    30% { transform: translateX(10px); }
    40% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    70% { transform: translateX(10px); }
    80% { transform: translateX(-10px); }
    90% { transform: translateX(0); }
    100% { transform: translateX(0); }
}

@-moz-keyframes fail {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    30% { transform: translateX(10px); }
    40% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    70% { transform: translateX(10px); }
    80% { transform: translateX(-10px); }
    90% { transform: translateX(0); }
    100% { transform: translateX(0); }
}

@keyframes fail {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    30% { transform: translateX(10px); }
    40% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    70% { transform: translateX(10px); }
    80% { transform: translateX(-10px); }
    90% { transform: translateX(0); }
    100% { transform: translateX(0); }
}

.deck .card.disabled {
    cursor: default;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: success ease .8s forwards;
}

.deck .card.error {
    animation: fail ease .8s forwards;
    background: #d84a14;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

#endingScreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}

#endingScreen.show {
    opacity: 1;
}

#endingScreen p {
    text-align: center;
}

#endingScreen button {
    display: block;
    margin: 30px auto;
    border: 0;
    padding: 12px 30px;
    font-size: 17px;
    color: #fff;
    background: #02b3e4;
    border-radius: 7px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#endingScreen button:hover {
    box-shadow: 0px 1px 12px rgba(0,0,0,0.3);
    cursor: pointer;
}

#timer {
    position: absolute;
    top: 25px;
    right: 30px;
    color: #888;
    font-size: 18px;
}

#moves {
    position: absolute;
    top: 25px;
    right: 120px;
    color: #888;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    
    ul.deck {
        width: 95%;
        min-height: auto;
        margin: 0 auto;
        padding: 16px;
    }

    .deck .card {
        width: 20vw;
        height: 20vw;
        margin-bottom: 4%;
    }

    .score-panel {
        width: 80%;
    }

    #moves, #timer {
        float: right;
        position: relative;
        top: initial;
        right: initial;
        margin: 0 15% 0 0;
        color: #444;
    }
}

@media screen and (max-width: 480px) {
    
    h2 {
        font-size: 2em;
        margin-top: 30vh;
    }

    ul.deck {
        width: 100%;
        border-radius: 0;
        padding: 16px 20px;
    }

    .deck .card {
        width: 40vw;
        height: 40vw;
        margin-bottom: 6%;
    }
    
    #moves, #timer {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {

    h1 {
        font-size: 1.6em;
    }
    
}